html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.light-text {
  color: #FFFFFF !important
}
.dark-text {
  color: #000000 !important
}

.contrast-bg {
  background-color: #bec7ca !important;
  border-color: #bec7ca !important;
}

.blue-bg {
  background-color: #2E8CA3 !important;
  border-color: #2E8CA3 !important;
}
.primary-btn {
  background-color: #2E8CA3 !important;
  border-color: #2E8CA3 !important;
}
.primary-btn:active {
  box-shadow: #2E8CA3 !important;
  outline: #2E8CA3 !important;
}
.blue-bg:hover {
  opacity: 100%;
}
.purple-bg {
  background-color: #180D35 !important;
}
.menu-scroller {
  opacity: 50%;
  z-index: 10;
  position: fixed;
  transition: top 0.6s;
  top: 0;
  padding: 1rem;
}

.nav-portfolio-link {
  text-decoration: none;
  color: black;
}
.nav-portfolio-link:active {
  color: #bec7ca;
}

.pointer-cursor:hover {
  cursor: pointer;
}

.article-img {
  width: 100%;
  align-items: center;
}

.dict-img {
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto
}